
.top-navbar {
    list-style-type: none;
    padding:0;
    font-size: 13px;
    margin-top: 1.5em;
}

li {
    display: inline;
}

a:link, a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
}
a:hover {text-decoration: underline}

a:hover, a:visited, a:unvisited {color: black;}

.about {
    margin-left: 1em;
}

.store {
    margin-left: 1em;
}

.gmail {
    float: right;
    margin-right: 1em;
}

.images {
    float: right;
    margin-right: 1em;
}

.apps {
    float: right;
    margin-right: 1em;
}

.accounts {
    float: right;
    margin-right: 1em;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 44px;
    width: 482px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background: #fff;

} 
.search-form:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.button-set {
    text-align: center;
    font-family: arial,sans-serif;

}