
.top-navbar {
    list-style-type: none;
    padding:0;
    font-size: 13px;
    margin-top: 1.5em;
}

li {
    display: inline;
}

a:link, a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
}
a:hover {text-decoration: underline}


.about {
    margin-left: 1em;
}

.store {
    margin-left: 1em;
}

.gmail {
    float: right;
    margin-right: 1em;
}

.images {
    float: right;
    margin-right: 1.4em;
}

.apps {
    float: right;
    margin-right: 1em;
    opacity: .55;
}

.apps:hover {
    opacity: .85;
}

.accounts {
    float: right;
    margin-right: 1em;
}

.logo-and-search-form-div {
margin-top: 200px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
}

.search-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 44px;
    width: 482px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background: #fff;

} 
.search-form:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.button-set {
    text-align: center;
    font-family: arial,sans-serif;
    margin-top: 30px;
}

.button-search, .lucky-search {
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 14px;
    color: #5f6368;
    background-color: #f2f2f2;
    border: 1px;
    border-radius: 4px;
    font-family: arial,sans-serif;
}

.button-search {
margin-right: 3px;
}

.lucky-search {
margin-left: 3px;
}