
.top-navbar {
    list-style-type: none;
    padding:0;
    font-size: 13px;
    margin-top: 1.5em;
}

li {
    display: inline;
}

a:link, a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
}


.about:hover, .store:hover, .gmail:hover, .images:hover, .advertising:hover, .business:hover, .how-search-works:hover, .privacy:hover, .terms:hover, .settings:hover {
    text-decoration:underline;
}


.about {
    margin-left: 17px;
}

.store {
    margin-left: 1em;
}

.gmail {
    float: right;
    margin-right: 17px;
}

.images {
    float: right;
    margin-right: 18px;
}

.apps {
    float: right;
    margin-right: 20px;
    opacity: .55;
}

.apps:hover {
    opacity: .85;
}

.accounts {
    float: right;
    margin-right: 20.5px;
    margin-top: -6px;
    background-color:#4285f4;
    font-weight: bold;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 2px;
}

.logo-and-search-form-div {
margin-top: 164px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
}

.search-form-div {
position: relative;
}

.search-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 44px;
    width: 482px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background: #fff;
    font-size: 16px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: left;
    background-image: url(https://raw.githubusercontent.com/Leo-U/google-homepage/master/images/magnifying-glass.png), url(https://raw.githubusercontent.com/Leo-U/google-homepage/master/images/microphone.png);
    background-repeat: no-repeat;
    background-size: 17px, 18px;
    background-position-x: 14px, 445px;
    background-position-y: 14px, 10px;
}

.search-form:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.button-set {
    text-align: center;
    font-family: arial,sans-serif;
    margin-top: 30px;
}

.button-google-search, .button-lucky-search {
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 14px;
    color: #5f6368;
    background-color: #f2f2f2;
    border: 1px;
    border-radius: 4px;
    font-family: arial,sans-serif;
    border: 1px solid #f2f2f2;
}

.button-google-search:hover, .button-lucky-search:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
    background-color: #f8f8f8
}

.button-google-search {
margin-right: 3px;
}

.button-lucky-search {
margin-left: 3px;
}

.footer {
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color:#f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

.advertising, .business, .how-search-works,  .terms, .settings {
    padding-left: 27px;
}

.privacy {
    float: right;
}

.terms {
    float: right
}

.settings {
    float: right;
    padding-right: 27px;
}